/* Aula inicial :D */

/*reset do css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://lh3.googleusercontent.com/proxy/wR4ETt8BmKCG5TELmHta7-WZOzwBIOGmZfh04dg6Cc0NgHGN7rOTeQ-pww8LTNNCdvVKQbya6xuPiaRYnPUw7eDlbplbC6JAtTsUJxYSzc7Raktoo_rHf11TgnfJOTmf376fsYipEQTV1WKsybNW');
    background-size: cover;
    font-family: Arial;
    height: 100vh;
    backdrop-filter: blur(2px);
}

/*se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/*breackpoint*/
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background: rgba(255, 255, 255, 0.3);
  box-sizing: auto 100vh;
  box-shadow: 0px 0px 5px gray;
  margin: 0 auto;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu a {
  display: block;
  padding: 20px 0;
}

.menu ul {
display: flex;
justify-content: space-around;
padding: 0;
}

.menu li {
list-style: none;
}

a {
color: white;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

.site-subtitle,
.site-title {
color: whitesmoke;
text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
  font-style: italic;
  padding: 20px;
}

section {
  background-color: white;
  color: black;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

section h2 {
  color: black;
  font-family: ;
  font-size: 2.5em;
  padding: 250px 50px 50px 50px;
  text-align: center; 
}

.img-portfolio {
  height: 80px;
  width: 80px;
  
}

.portfolio-items {
  display: flex;
  padding: 20px 50px 250px 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

